{% extends "app/base.html.twig" %}

{% block page_content %}

    <h1>Emergencies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emergency in emergencies %}
            <tr>
                <td><a href="{{ path('emergency_show', { 'id': emergency.id }) }}">{{ emergency.id }}</a></td>
                <td>{% if emergency.created %}{{ emergency.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ emergency.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('emergency_show', { 'id': emergency.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('emergency_edit', { 'id': emergency.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emergency_new') }}">Create a new emergency</a>
        </li>
    </ul>
{% endblock %}
