{% extends "app/base.html.twig" %}

{% block page_content %}

    <h1>Emergency</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emergency.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if emergency.created %}{{ emergency.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ emergency.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emergency_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('emergency_edit', { 'id': emergency.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
