{% extends ":volunteer:_layout.html.twig" %}

{% block page_content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date joined</th>
                <th>Name</th>
                <th>Email</th>
                <th>Skills</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for volunteer in volunteers %}
            <tr>
                <td>{% if volunteer.created %}{{ volunteer.created|localizeddate('medium', 'none') }}{% endif %}</td>
                <td>{{ volunteer.name }}</td>
                <td>{{ volunteer.email }}</td>
                <td>{{ volunteer.skills|join(', ') }}</td>
                <td>
                    <a class="btn btn-success btn-xs" href="{{ path('volunteer_edit', { 'id': volunteer.id }) }}">
                        <i class="fa fa-pencil"></i>
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-success" href="{{ path('volunteer_new') }}">Add volunteer</a>

{% endblock %}
