{% extends ":volunteer:_layout.html.twig" %}

{% block page_button %}

    <form action="" method="get" style="display: inline-block; margin: 0 ; vertical-align: middle;">

        <select class="form-control" style="display: inline-block; margin: 0 4px 0 4px; width:180px" name="skill">
            <option>Show all skills / roles</option>
            {% for skill in skills %}
                <option value="{{ skill.id }}">{{ skill }}</option>
            {% endfor %}
        </select>

        <button class="btn btn-primary">Apply</button>

    </form>

    &nbsp;
    &nbsp;

    <a class="btn btn-success" href="{{ path('volunteer_new') }}" style=" vertical-align: middle;">Add staff / volunteer</a>

{% endblock %}

{% block page_content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date joined</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Skills</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for volunteer in volunteers %}
            <tr>
                <td>{% if volunteer.created %}{{ volunteer.created|localizeddate('medium', 'none') }}{% endif %}</td>
                <td>
                    {{ volunteer.name }}
                </td>
                <td>
                    <a href="tel:{{ volunteer.phone }}">{{ volunteer.phone }}</a>
                </td>
                <td>
                    <a href="mailto:{{ volunteer.email }}">{{ volunteer.email }}</a>
                </td>
                <td>{{ volunteer.skills|join(', ') }}</td>
                <td>
                    <a class="btn btn-success btn-xs" href="{{ path('volunteer_edit', { 'id': volunteer.id }) }}">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
