{% extends ":report:_layout.html.twig" %}

{% block page_button %}
    <a class="btn btn-success" href="{{ path('report_new') }}">Add Report</a>
{% endblock %}

{% block page_title %}
    Report from the public (showing 24 hours)
{% endblock page_title %}

{% block page_content %}
<div style="height: 40vh; overflow: auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Report #</th>
                <th>Date / Time Reported</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Ip</th>
                <th>User Agent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr id="marker{{ loop.index }}">
                <td>{{ report.id }}</td>
                <td>{% if report.created %}{{ report.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.lat }}</td>
                <td>{{ report.lng }}</td>
                <td>{{ report.ip }}</td>
                <td>{{ report.userAgent }}</td>
                <td>
                    <a class="btn btn-primary btn-xs panTo" data-marker="{{ loop.index }}" href="">
                        <i class="fa fa-map-marker"></i>
                        Highlight on map
                    </a>
                    <a class="btn btn-success btn-xs" href="{{ path('report_edit', { 'id': report.id }) }}">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="ga" id="map" style="margin-left: -10px; margin-right: -10px; height: 50vh;">

</div>

    <style>
        .right_col {
            padding-bottom: 0;
        }
        tr.highlight,
        tr.highlight td {
            background: #f00;
        }
    </style>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>

    var markers = [];
    var map;

    function addMarker (lat, lng, title) {

        var markerLoc = new google.maps.LatLng(lat, lng);

        var marker = new google.maps.Marker({
            map: map,
            position: markerLoc,
            title: title
        });

        marker.addListener('click', function() {
            $('tr.highlight').removeClass("highlight");
            $("#marker"+marker.get('id')).addClass("highlight");
        });

        markers.push(marker);
    }

    function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            scrollwheel: false,
            center: {lat: -23.69, lng: 133.88}
        });

        {% for report in reports %}
            addMarker ({{ report.lat }}, {{ report.lng }}, "Report #{{ report.id }}");
        {% endfor %}

        var bounds = new google.maps.LatLngBounds();

        for (var i = 0; i < markers.length; i++) {
            markers[i].set("id", i);
            bounds.extend(markers[i].getPosition());
        }

        map.fitBounds(bounds);

    }

    $('.panTo').click(function(){
        id = $(this).data('marker');
        map.setZoom(13);
        map.panTo(markers[id].position);
        return false;
    });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrAEBmbgLfeIqyCdvG7_cawiwD-B-1abw&callback=initMap">
</script>


{% endblock %}
